<a href="/products">Voltar</a>
<h2>Relatório de produtos</h2>
<div class="products">
    <form action="/products/report" method="POST">
        <table>
                <tr class="title">
                    <td>Nome do produto</td>
                    <td>Preço</td>
                    <td>Descrição</td>
                    <td>Opção</td>
                </tr>
            {{#each products}}
                <tr>
                    <td>{{this.name}}</td>
                    <td>R${{this.price}},00</td>
                    <td>{{this.description}}</td>
                    <td>
                    <a href="/products/edit/{{this._id}}">Editar</a></td>
                </tr>
            {{/each}}
        </table>
    </form>
</div>

